body {
    background-color: rgb(2, 2, 62);
    color: rgb(248, 248, 201);
    margin: 0 auto;
}
 form {
    display: block;
   margin: 0 auto;
   padding: 0;
   width: 1000px;
 }

h1, p, legend {
    text-align: center;

}

.contact div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.service div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.aboutYou{
    display: grid;
    grid-template-columns: 1fr 1fr1fr 1fr 1fr ;
}

.aboutYou input, .aboutYou label {
    width: 400px;
    margin: 0 auto;
}

fieldset {
   margin: 20px 15%;
}

select {
    display: flex;
    margin: 0 auto;
    width: 250px;
}



textarea {
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 100px;
}

button {
    display: flex;
    margin: 20px auto;
    padding: 15px 10%;
    border-radius: 10px;
}

